@font-face {
    font-family: 'OldMan';
    src: url(font/OldMan.ttf);
}

body {
    background: url(img/gambar2.jpg) no-repeat center fixed;
    background-size: cover;
    nav{
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background-color: rgba(0,0,0,0.6);
        color: #dcdcdd;
        padding-left: 35px;
        padding-right: 35px;
        font-family: 'OldMan',sans-serif;
        backdrop-filter: blur(8px);
        a{
            letter-spacing: 3px;
        }
        ul{
            
            list-style: none;
            li{
                padding-top: 15px;
                display: inline-block;
                a{
                    margin-left: 40px;
                }
            }
        }
    }
    section{
        div{
            div{
                a{
                    color: wheat;

                    &:hover{
                        color: #dc143d;
                    }
                }
            }
        }
    }

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .glass-box{
        font-family: 'OldMan',sans-serif;
        padding: 43px;
        text-align: center;
        width: 400px;
        height: 200px;
        background: rgba(0,0,0,0.6);
        color: white;
        backdrop-filter: blur(10px);
        border-radius: 20px;
    }
}