$color_1: rgb(8, 7, 7);
$color_2: #170d0f;
$color_3: #edefef;

@font-face {
	font-family: 'Kurale';
	src: url(font/Kurale-Regular.ttf);
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(img/background1.jpg) no-repeat center fixed;
    background-size: cover;
}
section {
	position: relative;
	height: 450px;
	width: 1075px;
	display: flex;
	align-items: center;
	.card {
		.image {
			height: 140px;
			width: 140px;
			border-radius: 50%;
			padding: 3px;
			background: #05595B;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: 50%;
				border: 3px solid #fff;
			}
		}
	}
}
.swiper {
	width: 950px;
}
.card {
	position: relative;
	background: #E2D784;
    border: #ffe69a;
	border-radius: 20px;
	margin: 20px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	&::before {
		content: "";
		position: absolute;
		height: 59%;
		width: 100%;
		background: #062C30;
		border-radius: 20px 20px 0 0;
	}
	.card-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		position: relative;
		z-index: 100;
	}
	.name-recipe {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
		color: $color_2;
	}
	.button {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		button {
			background: #F5F5F5;
			outline: none;
			border: none;
			color: $color_1;
			padding: 8px 22px;
			border-radius: 20px;
			font-size: 14px;
			transition: all 0.3s ease;
			cursor: pointer;
		}
	}
}
.name-recipe {
	.name {
		font-family: 'Kurale',sans-serif;
		font-size: 20px;
		font-weight: 600;
	}
}
.button {
	button {
		font-family: 'Kurale',sans-serif;
		&:hover {
			background: #545355;
		}
	}
}
.swiper-button-next {
	opacity: 0.7;
	color: $color_3;
	transition: all 0.3s ease;
	&:hover {
		opacity: 1;
		color: $color_3;
	}
}
.swiper-button-prev {
	opacity: 0.7;
	color: $color_3;
	transition: all 0.3s ease;
	&:hover {
		opacity: 1;
		color: $color_3;
	}
}
